{% extends 'base/meta.twig' %}

{% block body_begin %}{{ parent() }}{% endblock %}

{% block header_inner__ %}{{ parent() }}{% endblock %}

{% block sidebar_inner__ %}{{ parent() }}{% endblock %}

{% block content_begin_inner__ %}{% endblock %}
{% block content_main_inner__ %}{% endblock %}
{% block content_end_inner__ %}{% endblock %}

{% block footer_inner__ %}{{ parent() }}{% endblock %}

{% block body_end %}{{ parent() }}{% endblock %}