{% extends 'base/base.twig' %}

{% block head_begin %}{{ parent() }}{% endblock %}

{% block head_meta %}{{ parent() }}{% endblock %}

{% block head_misc %}{{ parent() }}{% endblock %}

{% block head_style %}{{ parent() }}{% endblock %}

{% block head_js %}{{ parent() }}{% endblock %}

{% block head_end %}{{ parent() }}{% endblock %}



{% block foot_js %}{{ parent() }}{% endblock %}