<!doctype html>
<html>

<head>
    <title>Formanta</title>
</head>

<body>

<main>
    <h1>Simple Mini Template</h1>
    <p>Just a {{ demo_label }} template.</p>
</main>

<style>
    body {
        margin      : 0;
        background  : #36384c;
        color       : #63678b;
        font-family : sans-serif;
    }
</style>
</body>

</html>