{% extends '_base.twig' %}

{% block content_main_inner__ %}
    <section class="content-intro">
        <h1>Formanta - Frontend Development and Static Side Generator</h1>
        <p>Helping to develop web applications in a modular fashion and empowering teams to split the development of
            business logic and presentation logic.</p>
        <p>Creating a consistent user experience, even when the need is for a high varied design language.</p>
    </section>
    <section class="content-ecosystem">
        <div class="content-ecosystem--integrated">
            <div class="content-ecosystem--child--formanta">
                <h2>Formanta</h2>
                <p class="content-ecosystem--child--intro">Bundles everything into one ready-to-go project
                    boilerplate.</p>
                <p class="content-ecosystem--child--version">concept</p>
                <ul>
                    <li><a href="https://bitbucket.org/bemit_eu/formanta">Git</a></li>
                    <li><a href="https://help.formanta.bemit.codes">Help, Guides</a></li>
                </ul>
            </div>
            <div class="content-ecosystem--child--formantablocks-php">
                <h2>FormantaBlocks PHP</h2>
                <p class="content-ecosystem--child--intro">Static Side Generator engine for PHP, bundles Twig.</p>
                <ul>
                    <li><a href="https://bitbucket.org/bemit_eu/formantablocks">Git</a></li>
                    <li><a href="https://help.formanta.bemit.codes/blocks">Help, Guides</a></li>
                </ul>
            </div>
            <div class="content-ecosystem--child--formantablocks-js">
                <h2>FormantaBlocks NodeJS</h2>
                <p class="content-ecosystem--child--intro">Static Side Generator engine for NodeJS, bundles twig.</p>
                <ul>
                    <li><a href="https://bitbucket.org/bemit_eu/formantablocks-js">Git</a></li>
                    <li><a href="https://help.formanta.bemit.codes/blocks-js">Help, Guides</a></li>
                </ul>
            </div>
        </div>
        <div class="content-ecosystem--style">
            <h2>Style</h2>
            <div class="content-ecosystem--child--formantasass-core">
                <h2>FormantaSass: Core</h2>
                <p class="content-ecosystem--child--intro">A Sass framework for consistent and easy styling. Using
                    mixins to reuse style and config through any endpoint and framework.</p>
                <p class="content-ecosystem--child--version"></p>
                <ul>
                    <li><a href="https://bitbucket.org/bemit_eu/formantasass-core">Git</a></li>
                    <li><a href="https://help.formanta.bemit.codes/style">Help, Guides</a></li>
                </ul>
            </div>
        </div>
        <div class="content-ecosystem--interact">
            <h2>Interact</h2>
            <div class="content-ecosystem--child--formantajs">
                <h2>FormantaJS</h2>
                <p class="content-ecosystem--child--intro">User experience and interaction handler for every frontend.</p>
                <p class="content-ecosystem--child--version"></p>
                <ul>
                    <li><a href="https://bitbucket.org/bemit_eu/formantajs">Git</a></li>
                    <li><a href="https://help.formanta.bemit.codes/interact">Help, Guides</a></li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}